@font-face {
font-family: Cirrus;
src: url('data/CirrusCumulus.woff');
}

@font-face {
    font-family: Uncut;
    src: url('data/UncutSans-Regular.woff');
    }

@font-face {
    font-family: Gambetta;
    src: url('../fonts/Gambetta-Regular.woff2') format('woff2'),
         url('../fonts/Gambetta-Regular.woff') format('woff'),
         url('../fonts/Gambetta-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }

html, body {
    margin: 0;
    padding: 0;
}

.wrapper{
    margin: 0; 
    padding: 0;
    margin-left: 18%;

    display: flex;
    overflow-x: auto;

}

.info{
    position: absolute;
    width:18%;
   
    box-sizing: border-box;
    padding-left: 0.75vw;
    padding-right: 0.75vw;
   
    font-size:0.75vw;

}

.section{

    height: 100vh; 
    overflow-y: auto;
    flex: 1;

    transition: 0.1s;
    transition-timing-function: ease-in-out;
     
    padding-left: 0.75vw;
    padding-right: 0.75vw;
    font-size: 0.75vw;

}

p {
    font-family: 'IBM Plex Mono', monospace;
}

h1{
    /* font-size: 1.5vw; */
    font-family: Cirrus;
    text-align: center;
    color:blue;
}

.info h1 {
    font-family: Cirrus;
    text-align: left;
    color:black;
}


.section:hover{  
    flex: 4;
    font-size: 1.5vw;
    padding-left: 0.75vw;
    padding-right: 0.75vw;

}

a {
    font-family: 'IBM Plex Mono', monospace;
    color: blue;
    font-style: italic;
}

img {
    width: 100%;
    min-height: auto;
    /* max-width: 100%; */
    padding-top: 10px;
    padding-bottom: 10px;
}

.section::-webkit-scrollbar {
    display: none;
}

.wrapper::-webkit-scrollbar {
    height: 1.5vh;
    background: rgb(240, 240, 240);
    border-top: 1px solid rgb(175, 175, 175);
}

.wrapper::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: rgb(175, 175, 175);  
}

@media (max-width: 60em){
    .info {
        box-sizing: border-box;
        padding-left: 5vw;
        padding-right: 5vw;
        width:100%;
        position:relative;
    }

    .wrapper {
        margin-left: 0;
        position: relative;
        flex-direction: column;
        height: 350vh;
        overflow-y: auto;
        
    }

    .section {

        padding-left: 5vw;
        display: inline-flex;   /* makes the slides go left to right*/ 
        overflow-y:hidden;
        padding-top: 2vw;
        padding-bottom: 2vw;
        
    }

    img { 
        width:auto;
        height: 100%;
        padding-left: 2vw;
        padding-right: 2vw;
        padding-top: 0;
        padding-bottom: 0;
    }

    .section:hover{  
        flex: 1;
        padding-left: 5vw;
        padding-right: 0.75vw;
        font-size: 0.75vw;
    }

    h1{        
        font-size: 6vh;
        padding-right: 10vw;
        text-align: left;
    }

    p{
        font-size: clamp(1rem, 2.5vw, 2rem);
        text-align: left;    
    }

    .section p{
        padding-top: 2vh;
        min-width:fit-content;
        position: static;
    }
}

