* {
    margin: 0;
    padding: 0;
}

#mainContainer {
    display: flex;
    margin-left: 1rem;
    margin-right: 1rem;
    gap: 1rem;
}

#displayContainer_0, #displayContainer_1 {
    width: 50%;
    height: 100dvh;
    overflow: scroll;
    box-sizing: border-box;
}

body {
    overflow: auto;
    word-wrap: break-word;
    font-family: 'Times New Roman', Times, serif;
    line-height: 1.2;
}

h2 {
    font-size: 18px;
    font-weight: 400;
    color: blue;
    text-decoration: underline;
    hyphens: auto;
    padding-top: 2em;
    width: 100%
}

p {
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 1rem;
}

img {
    width: 100%;
}

@media screen and (max-width: 45rem){

    body {
        margin: 75px 5% 75px 5%;
    }
}

