html, body {
  margin: 0;
  padding: 0;
}


body {
  text-align: center;
  margin: 20px;
}

canvas {
  /* border: 2px dashed black; */
  border: none;
  display: block;
  margin: 20px auto;
}

input, button {
  margin: 10px 5px;
}

h1 {
  filter: blur(3px);
}

h1, label, input,button {
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#blurIntensity {
  width: 45px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  border-style: none;
  background-color: #00A2B4;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
}


button {
  background-color: #00A2B4;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

}

button:hover,
button:focus {
  background-color: #028898
}